<div class="answerTile">
  <li>
    <h3>{{answer.answerUserName}}</h3>
    <p>{{answer.answerContent}}</p>
    <p>Votes: {{answer.vote}}</p>
    <button {{action 'upVote' answer}}>Upvote</button>
    <button {{action 'downVote' answer}}>Downvote</button>
    <button {{action 'delete' answer}}>Delete Answer</button>
  </li>
</div>
