<div class="answerTile">
  <li>
    <p>{{answer.answerUserName}}</p>
    <p>Answer: {{answer.answerContent}}</p>
    <p>Votes: {{answer.vote}}</p>
    <button {{action 'upVote' answer}}>Upvote</button>
    <button {{action 'downVote' answer}}>Downvote</button>
    <button {{action 'deleteAnswer' answer}}>Delete Answer</button>
  </li>
</div>
